# Task 1

## Courtney Pigford 2-25-2023

### 10.2

In [114]:
from account import Account

In [115]:
from decimal import Decimal

In [116]:
value = Decimal('12.34')

In [117]:
account1 = Account('John Green', Decimal('50.00'))

In [118]:
account1.name

'John Green'

In [119]:
account1.balance

Decimal('50.00')

In [120]:
account1.deposit(Decimal('25.53'))

In [121]:
account1.balance

Decimal('75.53')

In [122]:
account1.deposit(Decimal('-123.45'))

ValueError: amount must be positive.

In [123]:
# account.py
"""Account class definition."""
from decimal import Decimal 

class Account: 
    """Account class for maintaining a bank account balance."""

#### 10.2.2

In [124]:
def _init_(self, name, balance):
    """Initialize an Account object."""

    #if balance is less than 0.00, raise an exception
    if balance < Decimal('0.00'):
        raise ValueError('Initial balance must be >= to 0.00')
    
    self.name = name
    self.balance = balance

In [125]:
def deposit(self, amount): 
    """Deposit money to the account."""
    
    #if amount is less than 0.00, raise an exception
    if amount < Decimal('0.00'):
        raise ValueError('amount must be positive.')

    self.balance += amount

#### 10.3

In [126]:
from account import Account

In [127]:
from decimal import Decimal

In [128]:
account1 = Account('John Green', Decimal('50.00'))

In [129]:
account1.balance

Decimal('50.00')

In [130]:
account1.balance = Decimal('-1000.00')

In [131]:
account1.balance

Decimal('-1000.00')

#### 10.4

In [132]:
from timewithproperties import Time

In [133]:
wake_up =Time(hour=6, minute=30)

In [134]:
wake_up

Time(hour=6, minute=30, second=0)

In [135]:
print(wake_up)

6:30:00 AM

In [136]:
wake_up.hour

6

In [137]:
wake_up.set_time(hour=7, minute=45)

In [138]:
wake_up

Time(hour=7, minute=45, second=0)

In [139]:
wake_up.hour = 6

In [140]:
wake_up

Time(hour=6, minute=45, second=0)

In [141]:
wake_up.hour = 100

ValueError: Hour (100) must be 0-23

#### 10.5

In [142]:
from private import PrivateClass

In [143]:
my_object = PrivateClass()

In [144]:
my_object.public_data

'public'

In [145]:
my_object._private_data

AttributeError: 'PrivateClass' object has no attribute '_private_data'

#### 10.6

In [146]:
from deck import DeckOfCards
deck_of_cards = DeckOfCards()
print(deck_of_cards)

Ace of Hearts      2 of Hearts        3 of Hearts        4 of Hearts
5 of Hearts        6 of Hearts        7 of Hearts        8 of Hearts
9 of Hearts        10 of Hearts       Jack of Hearts     Queen of Hearts
King of Hearts     Ace of Diamonds    2 of Diamonds      3 of Diamonds
4 of Diamonds      5 of Diamonds      6 of Diamonds      7 of Diamonds
8 of Diamonds      9 of Diamonds      10 of Diamonds     Jack of Diamonds
Queen of Diamonds  King of Diamonds   Ace of Clubs       2 of Clubs
3 of Clubs         4 of Clubs         5 of Clubs         6 of Clubs
7 of Clubs         8 of Clubs         9 of Clubs         10 of Clubs
Jack of Clubs      Queen of Clubs     King of Clubs      Ace of Spades
2 of Spades        3 of Spades        4 of Spades        5 of Spades
6 of Spades        7 of Spades        8 of Spades        9 of Spades
10 of Spades       Jack of Spades     Queen of Spades    King of Spades

In [147]:
deck_of_cards.shuffle()

In [148]:
print(deck_of_cards)

2 of Clubs         Ace of Hearts      5 of Hearts        3 of Spades
4 of Diamonds      Ace of Spades      10 of Diamonds     6 of Clubs
King of Spades     7 of Clubs         4 of Clubs         Jack of Diamonds
4 of Hearts        Jack of Hearts     9 of Diamonds      3 of Hearts
Queen of Hearts    5 of Diamonds      Queen of Clubs     9 of Hearts
6 of Diamonds      7 of Spades        8 of Spades        4 of Spades
King of Hearts     8 of Diamonds      7 of Hearts        Ace of Clubs
2 of Diamonds      10 of Hearts       8 of Hearts        Jack of Spades
10 of Clubs        2 of Hearts        King of Clubs      5 of Spades
3 of Clubs         2 of Spades        9 of Spades        6 of Spades
Queen of Spades    Queen of Diamonds  Jack of Clubs      7 of Diamonds
King of Diamonds   9 of Clubs         Ace of Diamonds    10 of Spades
3 of Diamonds      6 of Hearts        8 of Clubs         5 of Clubs

In [149]:
deck_of_cards.deal_card()

Card(face='2', suit='Clubs')

In [150]:
card = deck_of_cards.deal_card()
str(card)

'Ace of Hearts'

In [151]:
card.image_name

'Ace_of_Hearts.png'

#### 10.6.4

In [152]:
from deck import DeckOfCards

In [153]:
deck_of_cards = DeckOfCards()

In [164]:
%matplotlib

Using matplotlib backend: <object object at 0x7f93e482baf0>

In [170]:
from pathlib import Path

In [171]:
path = Path('.').joinpath('card_images')

In [172]:
import matplotlib.pyplot as plt

In [173]:
import matplotlib.image as mpimg

In [174]:
figure, axes_list = plt.subplots(nrows=4, ncols=13)

In [175]:
for axes in axes_list.ravel():
    axes.get_xaxis().set_visible(False)
    axes.get_yaxis().set_visible(False)
    image_name = deck_of_cards.deal_card().image_name
    img = mpimg.imread(str(path.joinpath(image_name).resolve()))
    axes.imshow(img)

AttributeError: 'NoneType' object has no attribute 'image_name'

In [176]:
figure.tight_layout()

/var/folders/48/6w_jrgjs73j9jkmfqz1zzd7m0000gq/T/ipykernel_2000/1210551376.py:1: UserWarning: Tight layout not applied. tight_layout cannot make axes width small enough to accommodate all axes decorations
  figure.tight_layout()

In [177]:
deck_of_cards.shuffle()

In [179]:
for axes in axes_list.ravel():
    axes.get_xaxis().set_visible(False)
    axes.get_yaxis().set_visible(False)
    image_name = deck_of_cards.deal_card().image_name
    img = mpimg.imread(str(path.joinpath(image_name).resolve()))
    axes.imshow(img)

AttributeError: 'NoneType' object has no attribute 'image_name'

#### 10.8

In [183]:
from commissionemployee import CommissionEmployee

In [184]:
from decimal import Decimal

In [185]:
c = CommissionEmployee('Sue', 'Jones', '333-33-3333', 
    Decimal('10000.00'), Decimal('0.06'))

In [186]:
c

CommissionEmployee: Sue Jones
social security number: 333-33-3333
gross sales: 10000.00
commission rate: 0.06

In [187]:
print(f'{c.earnings():,.2f}')

600.00

In [191]:
c.gross_sales = Decimal('20000.00')

In [192]:
c.commission_rate = Decimal('0.1')

In [193]:
print(f'{c.earnings():,.2f}')

2,000.00

In [194]:
from salariedcommissionemployee import SalariedCommissionEmployee

In [198]:
s = SalariedCommissionEmployee('Bob', 'Lewis', '444-44-4444', 
        Decimal('5000.00'), Decimal('0.04'), Decimal('300.00'))

In [200]:
print(s.first_name, s.last_name, s.ssn, s.gross_sales,
      s.commission_rate, s.base_salary)

Bob Lewis 444-44-4444 5000.00 0.04 300.00

In [202]:
print(f'{s.earnings():,.2f}')

500.00

In [204]:
s.gross_sales = Decimal('10000.00')

In [206]:
s.commission_rate = Decimal('0.05')

In [208]:
s.base_salary = Decimal('1000.00')

In [205]:
print(s)

SalariedCommissionEmployee: Bob Lewis
social security number: 444-44-4444
gross sales: 10000.00
commission rate: 0.04
base salary: 300.00

In [209]:
print(f'{s.earnings():,.2f}')

1,500.00

In [210]:
issubclass(SalariedCommissionEmployee, CommissionEmployee)

True

In [211]:
isinstance(s, CommissionEmployee)

True

In [212]:
isinstance(s, SalariedCommissionEmployee)

True

In [215]:
employees = [c, s]

In [216]:
for employee in employees: 
    print(employee)
    print(f'{employee.earnings():,.2f}\n')

CommissionEmployee: Sue Jones
social security number: 333-33-3333
gross sales: 20000.00
commission rate: 0.10
2,000.00

SalariedCommissionEmployee: Bob Lewis
social security number: 444-44-4444
gross sales: 10000.00
commission rate: 0.05
base salary: 1000.00
1,500.00

#### 10.9

In [217]:
class WellPaidDuck: 
    def _repr_(self):
        return 'I am a well-paid duck'
    def earnings(self): 
        return Decimal('1_000_000.00')

In [219]:
from decimal import Decimal

In [220]:
from commissionemployee import CommissionEmployee

In [221]:
from salariedcommissionemployee import SalariedCommissionEmployee

In [222]:
c = CommissionEmployee('Sue', 'Jones', '333-33-3333', 
                       Decimal('10000.00'), Decimal('0.06'))

In [224]:
s = SalariedCommissionEmployee('Bob', 'Lewis', '444-44-4444',
                               Decimal('5000.00'), Decimal('0.04'), Decimal('300.00'))

In [225]:
d = WellPaidDuck()

In [226]:
employees = [c, s, d]

In [227]:
for employee in employees: 
    print(employee)
    print(f'{employee.earnings():,.2f}\n')

CommissionEmployee: Sue Jones
social security number: 333-33-3333
gross sales: 10000.00
commission rate: 0.06
600.00

SalariedCommissionEmployee: Bob Lewis
social security number: 444-44-4444
gross sales: 5000.00
commission rate: 0.04
base salary: 300.00
500.00

<__main__.WellPaidDuck object at 0x7f93e74a7c10>
1,000,000.00

#### 10.10

In [228]:
from complexnumber import Complex

In [229]:
x = Complex(real=2, imaginary=4)

In [230]:
x

(2 + 4i)

In [231]:
y = Complex(real=5, imaginary=-1)

In [232]:
y

(5 - 1i)

In [233]:
x + y

(7 + 3i)

In [234]:
x

(2 + 4i)

In [235]:
y

(5 - 1i)

In [236]:
x += y

In [237]:
x

(7 + 3i)

In [238]:
y

(5 - 1i)

#### 10.12

In [239]:
from collections import namedtuple

In [240]:
Card = namedtuple('Card', ['face', 'suit'])

In [243]:
card = Card(face='Ace', suit='Spades')

In [244]:
card.face

'Ace'

In [245]:
card.suit

'Spades'

In [246]:
card

Card(face='Ace', suit='Spades')

In [247]:
values = ['Queen', 'Hearts']

In [248]:
 card = Card._make(values)

In [249]:
card

Card(face='Queen', suit='Hearts')

In [251]:
card._asdict()

{'face': 'Queen', 'suit': 'Hearts'}

#### 10.13

In [252]:
from dataclasses import dataclass

In [255]:
@dataclass
class Demo: 
    x  # attempting to create a data attribute x

In [256]:
from carddataclass import Card

In [260]:
c1 = Card(Card.FACES[0], Card.SUITS[3])

In [261]:
c1

Card(face='Ace', suit='Spades')

In [262]:
print(c1)

Ace of Spades

In [263]:
c1.face

'Ace'

In [264]:
c1.suit

'Spades'

In [265]:
c1.image_name

'Ace_of_Spades.png'

In [266]:
c2 = Card(Card.FACES[0], Card.SUITS[3])

In [267]:
c2

Card(face='Ace', suit='Spades')

In [268]:
c3 = Card(Card.FACES[0], Card.SUITS[0])

In [269]:
c3

Card(face='Ace', suit='Hearts')

In [270]:
c1 == c2

True

In [271]:
c1 == c3

False

In [272]:
c1 != c3

True

In [273]:
from deck2 import DeckOfCards

In [274]:
deck_of_cards = DeckOfCards()

In [275]:
print(deck_of_cards)

Ace of Hearts      2 of Hearts        3 of Hearts        4 of Hearts
5 of Hearts        6 of Hearts        7 of Hearts        8 of Hearts
9 of Hearts        10 of Hearts       Jack of Hearts     Queen of Hearts
King of Hearts     Ace of Diamonds    2 of Diamonds      3 of Diamonds
4 of Diamonds      5 of Diamonds      6 of Diamonds      7 of Diamonds
8 of Diamonds      9 of Diamonds      10 of Diamonds     Jack of Diamonds
Queen of Diamonds  King of Diamonds   Ace of Clubs       2 of Clubs
3 of Clubs         4 of Clubs         5 of Clubs         6 of Clubs
7 of Clubs         8 of Clubs         9 of Clubs         10 of Clubs
Jack of Clubs      Queen of Clubs     King of Clubs      Ace of Spades
2 of Spades        3 of Spades        4 of Spades        5 of Spades
6 of Spades        7 of Spades        8 of Spades        9 of Spades
10 of Spades       Jack of Spades     Queen of Spades    King of Spades

#### 10.14

In [277]:
Trying: 
    account1 = Account('John Green', Decimal('50.00'))
Expecting nothing 
ok 
Trying: 
    account1.name
Expecting: 
    'John Green'
ok 
Trying: 
    account1.balance
Expecting: 
    Decimal('50.00')
ok
Trying: 
    account2 = Account('John Green', Decimal('-50.00'))
Expecting: 
    Traceback (most recent call last): 
        ...
    ValueError: Initial balance must be >= to 0.00.
ok
3 items had no tests: 
    _main_
    _main_.Account
    _main_.Account.deposit
1 items passed all tests: 
    4 tests in _main_.Account._init_
4 tests in 4 items. 
4 passed and 0 failed. 
Test passed.

SyntaxError: invalid syntax (236263623.py, line 1)

#### 10.15

In [280]:
z = 'global z'

In [278]:
def print_variables(): 
    y = 'local y in print_variables'
    print(y)
    print(z)

In [281]:
print_variables()

local y in print_variables
global z

In [282]:
y

(5 - 1i)

In [283]:
z

'global z'

#### 10.16

In [287]:
c = lambda f: 5/9*(f - 32)

In [288]:
temps = [(f, c(f)) for f in range(0, 101, 10)]

In [289]:
import pandas as pd

In [290]:
temps_df = pd.DataFrame(temps, columns=['Fahrenheit', 'Celsius'])

In [291]:
axes = temps_df.plot(x='Fahrenheit', y='Celsius', style='.-')

In [293]:
y_label = axes.set_ylabel('Celsius')

In [294]:
nyc = pd.read_csv('ave_hi_nyc_jan_1895-2018.csv')

In [295]:
nyc.head()

     Date  Value  Anomaly
0  189501   34.2     -3.2
1  189601   34.7     -2.7
2  189701   35.5     -1.9
3  189801   39.6      2.2
4  189901   36.4     -1.0

In [296]:
nyc.tail()

       Date  Value  Anomaly
119  201401   35.5     -1.9
120  201501   36.1     -1.3
121  201601   40.8      3.4
122  201701   42.8      5.4
123  201801   38.7      1.3

In [297]:
nyc.columns = ['Date', 'Temperature', 'Anomaly']

In [298]:
nyc.head(3)

     Date  Temperature  Anomaly
0  189501         34.2     -3.2
1  189601         34.7     -2.7
2  189701         35.5     -1.9

In [299]:
nyc.Date.dtype

dtype('int64')

In [300]:
nyc.Date = nyc.Date.floordiv(100)

In [301]:
nyc.head(3)

   Date  Temperature  Anomaly
0  1895         34.2     -3.2
1  1896         34.7     -2.7
2  1897         35.5     -1.9

In [306]:
nyc.Temperature.describe()

count    124.000000
mean      37.595161
std        4.539848
min       26.100000
25%       34.575000
50%       37.600000
75%       40.600000
max       47.600000
Name: Temperature, dtype: float64